
.cell {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border: 3px solid white;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:hover {
  background-color: #c1cdcd;
}
